History

  [2011/01/04] Bought the Edimax 1510 camera at {{{http://www.edvneumann.de/} EDV Neumann }} 
  
  [2011/01/07] Started Github project {{https://github.com/hamy/Edimax1510/}}
  
  [2011/01/08] Replaced the initial firmware (v 1.34) by a more recent version (v. 1.39)
               downloaded from the {{{http://www.edimax.com/} Edimax site }}
  
  [2011/01/08] Changed the <<admin>> password 
  
  [2011/01/08] Added user #1: <<guest>> with password <<guest>>
  
  [2011/01/09] Replaced DHCP address by fixed IP address <<192.168.2.201>>
  
  [2011/01/10] Added <<loginfree.jpg>> access.
  
  [2011/01/16] Added docs for TCP/IP monitor (Eclipse) and HTTP request headers.
  
  [2011/01/17] Added test case TestSimpleUploader.
  
  [2011/01/22] Introduced master POM.
  
  []